$black100: #232323;
$black200: #001514;
$white100: #f1f1f1;
$white200: #fcfcfd;
$white300: #e2e8f0;
$purple100: #6d69fa;

/** MIX-INS **/
@mixin container {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px,
    rgba(230, 230, 230, 0.3) 0px 10px 20px -4px;
  border-radius: 1px 1px 30px 5px;
  min-height: 150px;
  margin-bottom: 20px;
  background-color: white;
  color: $black100;
}

@mixin logo {
  background-image: url("./assets/updated-logo4.png");
  background-size: contain !important;
  background-attachment: inherit !important;
  background-position: center center;
  background-repeat: no-repeat !important;
}

@mixin logo-black {
  background-image: url("./assets/updated-logo4.png");
  background-size: contain !important;
  background-attachment: inherit !important;
  background-position: center center;
  background-repeat: no-repeat !important;
}

@mixin text-shadow {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

@mixin inverse-text-shadow {
  text-shadow: -1px 0 $black100, 0 1px $black100, 1px 0 $black100,
    0 -1px $black100;
}

@mixin button-style {
  color: $black100;
  font-size: 16px;
  letter-spacing: 2px;
  transition: border-color 0.3s ease;
  transition: background-color 0.3s ease;
  border-radius: 10px 10px;
}

@mixin small-icon {
  width: 25px;
  height: 25px;
  background-size: cover !important;
  background-attachment: inherit !important;
  background-position: center center;
}

@mixin nav-icon {
  width: 25px;
  height: 25px;
  background-size: cover !important;
  background-attachment: inherit !important;
  background-position: center center;
}

@mixin header-style {
  border-bottom: 4px solid $black100;
  color: #001514 !important;
  font-size: 18px !important;
  // @include text-shadow;
  font-weight: 800;
  letter-spacing: 1.5px;
  padding-bottom: 5px;
  font-family: "Afacad", serif !important;
  background: unset;
  border-left: unset;
  border-right: unset;
  border-top: unset;
  transition: border-bottom 0.2s ease-in-out !important;
  margin-right: 20px;
  padding-left: 0;
  padding-right: 14px;
  padding-top: 7px;
}

@import url("https://fonts.googleapis.com/css2?family=Afacad");
@import url("https://fonts.googleapis.com/css2?family=Roboto");
html {
  height: 100%;
}
html,
body {
  height: 100%;
  font-family: "Afacad", serif !important;
  overflow: auto;
  background-color: $white200 !important;
}

#root {
  height: 100%;
}

#app-layout {
  height: 100%;
}

h1 {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", serif !important;
  color: black;
  transform: translateZ(5px);
  letter-spacing: 0.6px;

  .button-highlight {
    position: relative;
    z-index: 1;
    display: inline-block;
    color: $white100;
    font-weight: 100;
    transition: background-color 0.3s ease;
    // padding: 2px;
  }
  .button-highlight:before {
    content: "";
    position: absolute;
    bottom: 10%;
    left: -0.1rem;
    top: -0.2rem;
    transform: rotate(-2deg) !important;
    width: calc(100% + 1rem);
    height: 100%;
    --tw-bg-opacity: 1;
    background-color: $black100;
    z-index: -1;
    transform: translateZ(-1px);
    border-radius: 2px;
  }
  .button-highlight:hover {
    background-color: $purple100;
  }

  .black-highlight {
    position: relative;
    z-index: 1;
    display: inline-block;
    color: $white100;
    font-weight: 800;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    // padding: 2px;
  }
  .black-highlight:before {
    content: "";
    position: absolute;
    bottom: 10%;
    left: -0.5rem;
    top: -0.4rem;
    transform: rotate(-2deg) !important;
    width: calc(100% + 1rem);
    height: 140%;
    --tw-bg-opacity: 1;
    background-color: $black100;
    z-index: -1;
    transform: translateZ(-1px);
    border-radius: 2px;
  }

  .purple-highlight {
    position: relative;
    z-index: 1;
    display: inline-block;
    color: $black100;
    font-weight: 800;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }
  .purple-highlight:before {
    content: "";
    position: absolute;
    bottom: 10%;
    left: -0.5rem;
    top: -0.4rem;
    transform: rotate(-2deg) !important;
    width: calc(100% + 1rem);
    height: 140%;
    --tw-bg-opacity: 1;
    background-color: $purple100;
    z-index: -1;
    transform: translateZ(-1px);
    border-radius: 3px;
  }
}

.btn h4 {
  color: $white200;
}

$start: 0;
$end: 10;

@for $i from $start through $end {
  .pl-#{$i} {
    padding-left: #{0.5 * $i}rem;
  }

  .pr-#{$i} {
    padding-right: #{0.5 * $i}rem;
  }

  .ml-#{$i} {
    margin-left: #{0.5 * $i}rem;
  }

  .mr-#{$i} {
    margin-right: #{0.5 * $i}rem;
  }
  .br-#{$i} {
    border-radius: #{$i}px;
  }
}

/** BANNERS **/
.alert.alert-danger {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #ff6969;
  border: 1px solid #8a7070;
  letter-spacing: 1px;
  color: #001514;
  font-size: 12px;
  font-weight: 800;
}

.alert.alert-info {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid $black200;
  background-color: $black100 !important;
  letter-spacing: 1px;
  color: $white200;
  font-size: 12px;
  font-weight: 800;
}

.alert.alert-success {
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgb(88, 207, 88);
  border: 1px solid black;
  letter-spacing: 1px;
  color: $black100;
  font-size: 12px;
  font-weight: 800;
}

/** ANIMATIONS **/

@mixin fade-in {
  -webkit-animation: fade-in 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s; /* Firefox < 16 */
  -ms-animation: fadein 0.5s; /* Internet Explorer */
  -o-animation: fadein 0.5s; /* Opera < 12.1 */
  animation: fadein 0.5s;
}

.fade-in {
  -webkit-animation: fade-in 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s; /* Firefox < 16 */
  -ms-animation: fadein 0.5s; /* Internet Explorer */
  -o-animation: fadein 0.5s; /* Opera < 12.1 */
  animation: fadein 0.5s;
}

/** TOP LEVEL CLASSES **/
.canvasjs-chart-credit {
  display: none;
}

.font-bold {
  font-weight: bold;
}

.white-text {
  color: white !important;
}

.pointer {
  cursor: pointer;
}

.component-container {
  // height: 400px;
  margin-top: 30px;
  background: white;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 0.75rem;
  padding: 15px;
  @include fade-in;
}

.app-container {
  transition: width 0.3s ease, margin-left 0.3s ease, margin-right 0.3s ease,
    padding 0.3s ease !important;
  padding: 0px;
  height: -moz-max-content; /* Firefox/Gecko */
  height: -webkit-max-content; /* Chrome */
  height: intrinsic;
  height: max-content;
  height: fit-content;
}

.app-holder {
  top: 71px;
  position: absolute;
}

.black-border {
  border: 1px solid $black100;
}

.gray-line {
  border-bottom: 1px solid rgb(219, 219, 219);
}

.black-line {
  border-bottom: 1px solid $black200;
}

.w-fit-content {
  width: -moz-max-content; /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
  width: intrinsic;
  width: max-content;
  width: fit-content;
}

.masthead {
  height: 100%;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

/** LOGOS **/
.landing-page-logo {
  @include logo;
  width: 200px;
  height: 200px;
}

/** ICONS **/
.spotify-icon {
  @include small-icon;
  background-image: url(./assets/icons/spotify.svg);
}

.soundcloud-icon {
  @include small-icon;
  background-image: url(./assets/icons/soundcloud.svg);
}

.youtube-icon {
  @include small-icon;
  background-image: url(./assets/icons/youtube.svg);
}

.home-icon {
  @include small-icon;
  background-image: url(./assets/icons/home.svg);
}

.signout-icon {
  @include small-icon;
  background-image: url(./assets/icons/arrow.svg);
}

/** MODAL **/
.ui.dimmer {
  transition: background-color 5s ease;
  background-color: transparent !important;
}

.modal-fade-in .ui.dimmer {
  background-color: rgba(233, 233, 233, 0.739) !important;
}

/** LANDING PAGE **/
#landing-page {
  margin-top: 30px;
  .auth-button {
    // width: 45%;
  }
  .banner {
    height: 25rem;
    background-image: url("./assets/landing-page-banner/banner1.jpg");
    background-size: cover !important;
    background-attachment: inherit !important;
    background-position: center center;
    border-top: unset !important;
    -webkit-transition: background-image 1s ease;
    transition: background-image 1s ease;
    border: 1px solid $white300;
    width: 100%;
    margin: 0;
    border-radius: 15px;
    // padding: 50px;

    .banner-title {
      letter-spacing: 3.5px;
      font-size: 44px;
      @include text-shadow;
    }
  }

  #landing-page-search {
    .search-text {
      letter-spacing: 1px;
      font-weight: 600;
      font-size: 20px;
      // color: $black100;
      @include text-shadow;
    }
  }

  .search-box {
    width: 400px;
  }
  .ui-container {
    @include container;
  }
}

i.large.icon {
  color: white !important;
}

/** NAVBAR **/
#navbar {
  background: $white200;
  border-bottom: 1px solid rgb(226, 232, 240);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: fixed;
  top: 0;
  z-index: 2;
  padding-right: 10px;
  padding-left: 10px;

  .ui.ui-container {
    padding: 0;
  }

  .navbar-logo {
    cursor: pointer;
    border-right: 3px solid $black200;
    border-radius: 15px;
  }

  .navbar-title {
    font-size: 32px !important;
    @include inverse-text-shadow;
    color: $white200;
    letter-spacing: 3.5px;
  }

  .navbar-toggler-icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    vertical-align: middle;
    background: url(./assets/icons/drop-down-menu-inverted.svg) 50% 50%
      no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border: unset !important;
  }

  .navbar-toggler {
    margin-right: 0 !important;
    border: unset !important;
  }

  .navbar-toggler.collapsed {
    border: unset !important;
  }
}

#offcanvasNavbar-expand-false {
  background-color: $black100;
  .navbar-title {
    font-size: 32px !important;
    @include text-shadow;
    letter-spacing: 3.5px;
  }
  .hide-options {
    display: none;
  }

  .nav-bar-logout {
    flex: 1;
  }
  .sidebar-title {
    font-size: 24px !important;
    @include text-shadow;
    font-weight: 800;
    letter-spacing: 1.5px;
  }

  .sidebar-item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    transition: background-color 0.2s ease-in, border-radius 0.2s ease-in;
    background-color: $black100;
  }

  .sidebar-text {
    @include inverse-text-shadow;
    color: white;
  }

  .sidebar-item.active {
    background-color: $purple100 !important;
    border-radius: 10px;
  }

  .sidebar-item:hover {
    background-color: $black200;
    border-radius: 10px;
  }

  .sidebar-link-container {
    border-radius: 10px;
  }
}

/** BUTTONS **/
.white-button {
  @include button-style;
  background-color: $white200 !important;
  border: 1px solid $black200;
  padding: 5px;
  color: $black200 !important;
  background-color: unset;
  transition: width 0.3s ease-in-out, color 0.3s ease-in-out,
    border 0.3s ease-in-out, background-color 0.3s ease-in-out !important;

  h4 {
    transition: color 0.3s ease-in-out !important;
  }
}

.white-button:hover,
.white-button:active,
.white-button:focus {
  color: $white300 !important;
  background-color: $purple100 !important;
  border: 1px solid $black200;
  h4 {
    color: $white300 !important;
  }
}

.white-button {
  h4 {
    color: $black200;
  }
}
.transparent-button {
  @include button-style;
  // background-color: $purple100 !important;
  border: 1px solid transparent;
  padding: 5px;
  color: black !important;
  background-color: unset;
  text-transform: uppercase !important;
}

.transparent-button:hover,
.transparent-button:active,
.transparent-button:focus {
  background-color: unset !important;
  border: 1px solid transparent;
}

.transparent-button {
  h4 {
    color: $black200;
  }
}

.black-button {
  // text-transform: uppercase;
  @include button-style;
  background-color: $black100;
  border: 1px solid $black200;
  padding: 5px;
  transition: border 0.3s ease-in-out !important;
  background-image: linear-gradient($black100, $black200);

  h4 {
    font-weight: 100 !important;
  }
}

.black-button:hover,
.black-button:active,
.black-button:focus {
  background-color: $black200 !important;
  border: 1px solid white;
  color: $black100;
}

.black-button:disabled {
  opacity: 0.5;
  background-color: $black100;
  border: 1px solid $black100;
  color: white;
}

.soundcloud-button {
  h4 {
    color: $black100;
  }
  @include button-style;
  @include text-shadow;
  background-color: #ff6100;
  border: black 1px solid;
}

.soundcloud-button:hover,
.soundcloud-button:active,
.soundcloud-button:focus {
  background-color: #ff6100;
  border: white 1px solid;
}

.spotify-button {
  h4 {
    color: $black100;
  }
  @include text-shadow;
  @include button-style;
  transition: background-color border 0.5s ease;
  background-color: #1ed75d;
  border: black 1px solid;
}

.spotify-button:hover,
.spotify-button:active,
.spotify-button:focus {
  background-color: #1ed75d;
  border: white 1px solid;
}

.youtube-button {
  @include button-style;
  transition: background-color 0.5s ease;
  background-color: #ff0000;
  border: black 1px solid;
}

.youtube-button:hover,
.youtube-button:active,
.youtube-button:focus {
  background-color: #ff4646;
  border: rgb(0, 0, 0) 1px solid;
}

/** BADGES **/
.black-badge {
  color: $white200 !important;
  background-color: $black100 !important;
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 0;
  font-size: 14px;
  text-wrap: initial;

  .badge-delete-btn {
    padding-right: 6.825px;
    padding-top: 3.675px;
    padding-left: 5.825px;
    color: $black100;
    font-weight: 800;
    cursor: pointer;
    border-radius: 0px 0.275rem 0.275rem 0px;
    background-color: $white200;
  }
}

.purple-badge {
  background-color: $purple100 !important;
  margin-bottom: 5px;
  padding: 0;
  font-size: 12px;
  color: $white200;

  .badge-delete-btn {
    padding-right: 6.825px;
    padding-top: 3.675px;
    padding-left: 5.825px;
    color: white;
    font-weight: 800;
    cursor: pointer;
    border-radius: 0px 0.375rem 0.375rem 0px;
    background-color: $black100;
  }
}

.black-badge,
.purple-badge {
  .badge-name {
    padding-bottom: 4.675px;
    padding-left: 6.825px;
    padding-top: 3.675px;
    font-size: 12px;
  }

  .badge-name.long {
    padding-right: 6.825px;
  }
}

#upload-list {
  .track-container {
    border-bottom: 1px solid $white300;
  }

  .track-container:last-of-type {
    border-bottom: unset !important;
  }
}

#music-player {
  position: fixed;
  bottom: 0;
  background-color: $black100;
  border-top: 3px solid $black200;
  height: 60px;
  width: 100%;
  color: $white200;
  z-index: 999;

  .player-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: white !important;
    }
  }

  .audio-button {
    cursor: pointer;
    color: white !important;
  }

  .seek-slider {
    flex-grow: 1;
  }

  .artist-name {
    color: gray;
  }

  .track-name {
    font-size: 18px;
    font-weight: 800;
  }

  /********** Range Input Styles **********/
  /*Range Reset*/
  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
  }

  /* Removes default focus */
  input[type="range"]:focus {
    outline: none;
  }

  /***** Chrome, Safari, Opera and Edge Chromium styles *****/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: $purple100;
    border-radius: 0.5rem;
    height: 0.5rem;
  }

  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -3px; /* Centers thumb on the track */

    /*custom styles*/
    background-color: $white200;
    border-radius: 200px;
    height: 1rem;
    width: 1rem;
  }

  /******** Firefox styles ********/
  /* slider track */
  input[type="range"]::-moz-range-track {
    background-color: $purple100;
    border-radius: 0.5rem;
    height: 0.5rem;
  }

  /* slider thumb */
  input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/

    /*custom styles*/
    background-color: $white200;
    border-radius: 200px;
    height: 1rem;
    width: 1rem;
  }
}

#track {
  .action-row {
    display: flex;
    flex-direction: row;
    height: 27px;
  }

  .track-button {
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 6px;
    // color: $white200 !important;

    .small {
      margin-right: 0px;
      padding-left: 1px;
    }
  }

  .track-button:disabled {
    background-color: $white100 !important;
    border: 1px solid $black200 !important;
  }

  .bin-button {
    .small {
      padding-left: 2px;
    }
  }

  .track-image {
    border-radius: 5px;
    width: 150px !important;
    height: 150px !important;
  }

  .track-genre-list {
    margin-top: 5px;
    text-align: right;
  }

  .playbutton-container {
    // left: 40px;
  }

  .artist-name {
    color: gray;
  }

  .track-name {
    font-size: 20px;
    font-weight: 800;
  }

  .track-name {
    font-size: 20px;
    font-weight: 800;
  }

  .play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: unset;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    padding-bottom: 3px;
    // background-color: $black100;
    transition: border 0.1s ease-in-out !important;

    &:hover {
      border: 2px solid $black100;
    }

    i.icon {
      margin: 0 !important;
      color: $black100 !important;
      margin-left: 3px !important;
    }
  }
}

#track-upload {
  .header-title {
    @include header-style;
  }

  width: 100%;

  .dropzone {
    height: 300px;
    width: 100%;
    border: 1px dashed rgb(178, 178, 178);
    border-radius: 5px;
    cursor: pointer;
  }

  .waveform-progress {
    background-color: $black100 !important;
  }

  .track-progress {
    background-color: $black200 !important;
  }
}

#waveform-container {
  width: 100%;
  height: 80px;
  position: relative;
  canvas {
    width: 100%;
    height: 80px;
  }
}

#artist-packages {
  .box-icon {
    width: 25px;
    height: 25px;
    font-size: 15px;
  }

  .package-container {
    gap: 10px 0px;
  }

  #artist-package-display.selected-package {
    // transition: width 0.2s ease-in-out !important;
  }

  #artist-package-display {
    .component-container:hover {
      .images-container {
        margin-left: 0px;
        .package-image {
          transform: rotate(0deg) translateY(0px) !important;

          margin-right: 0px;
        }
      }
    }
    .bin-icon {
      position: absolute;
      z-index: 9;
      right: -5px;
      top: -10px;
      cursor: pointer;
      color: $white100 !important;
      padding-left: 5px;
      padding-right: 3px;
    }
    .pencil-icon {
      position: absolute;
      z-index: 9;
      right: 25px;
      top: -10px;
      cursor: pointer;
      color: $white100 !important;
      padding-left: 5px;
      padding-right: 3px;
    }

    .close-icon {
      position: absolute;
      z-index: 9;
      left: -10px;
      top: -10px;
      cursor: pointer;
      color: $white100 !important;
      padding-left: 5px;
      padding-right: 3px;
    }

    .description {
      white-space: pre-wrap;
    }

    .images-container {
      margin-top: 10px;
      margin-bottom: 40px;
      transition: margin-left 0.3s ease-in-out;

      .expanded-image {
        width: 36%;
        border-radius: 3px;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        cursor: pointer;
        border: 1px solid transparent;
        transition: border 0.3s ease-in-out;
      }

      .expanded-image:hover {
        border: 1px solid $black100;
      }

      .package-image {
        border-radius: 10px;
        border: 2px $white200 solid;
        width: 33%;
        transition: margin-right 0.3s ease-in-out, transform 0.3s ease-in-out;
      }

      $n: 3;
      $z: 1;
      $deg: deg;
      $px: px;
      @for $i from 0 through $n {
        .package-image:nth-of-type(#{$i + 1}) {
          $l: ($i - 1) * 10;
          $m: ($i - 1) * ($i - 1);
          transform: rotate($l + $deg)
            translateY(($m * 5) + $px)
            translateX(-35px) !important;

          margin-right: -65px;
          z-index: 10 - $i;
        }
      }
    }
  }

  #artist-package-display.selected-package {
    width: 100%;
  }
}

#multi-cropper {
  .multi-image-placeholder {
    height: 315px;
    width: 315px;
    background: linear-gradient(20deg, $white100, $white300);
    border: 1px solid $white100;
    border-radius: 5px;
  }

  .image-display {
    border-radius: 5px;
    transition: width 0.2s ease-in-out !important;
  }
  .image-display.enlarge {
    width: 120px;
  }

  .bin-icon {
    position: absolute;
    z-index: 9;
    right: 5px;
    top: -5px;
    cursor: pointer;
    color: $white100 !important;
    padding-left: 5px;
    padding-right: 3px;
  }
}
#modal-popup,
#edit-artist,
#artist-profile {
  width: 100%;
  background-color: $white200;

  .badge-container {
    margin-left: 0.25rem;
  }

  .badge-container:first-of-type {
    margin-left: 0px;
  }

  .react-datepicker-wrapper {
    width: 100%;
  }

  .banner-holder {
    border: 1px solid #e2e8f0;
    border-radius: 15px;
    margin-top: 20px;
  }

  .ui.medium.image {
    width: 315px !important;
  }

  .photo-icon {
    padding-left: 2px;
  }

  .profile-photo.summary-photo {
    width: 200px !important;
  }

  .profile-photo.banner-photo {
    display: none;
  }

  .header {
    padding: 10px;
  }

  .header-logo {
    @include logo-black;
    width: 40px;
    height: 40px;
  }

  .header-title {
    @include header-style;
  }

  .nav-tabs {
    border-bottom: unset;
  }

  .nav-link {
    @include header-style;
    font-size: 14px !important;
    border-bottom: 2px solid rgb(199, 199, 199);
  }

  .nav-link:hover {
    border-bottom: 2px solid $purple100;
  }

  .nav-link.active {
    border-bottom: 2px solid $black100;
  }

  #search-label-component {
    .box {
      margin: 0.28571429rem 0 0 0;
      background-color: white;
      min-height: 92px;
      transition: border-left 0.2s ease-in-out !important;
      font-size: 1em;
      background: #fff;
      border: 1px solid rgba(34, 36, 38, 0.15);
      color: rgba(0, 0, 0, 0.87);
      border-radius: 0.28571429rem;
      box-shadow: 0 0 0 0 transparent inset;

      .container {
        padding: 0.67857143em 0.5em;
      }

      .input {
        border-radius: 0;
        border-right: unset;
        border-bottom: unset;
        border-top: 1px solid $white300;
        border-radius: 0px 0px 0.28571429rem 0.28571429rem;
        margin-left: -1px;
      }
    }

    .dropdown {
      border-radius: 2px;
      border-left: 1px solid $black100;
      border-right: 1px solid $black100;
      position: fixed;
      z-index: 999;
      min-width: 200px;
      max-width: 300px;
      background: white;
      border-radius: 0.28571429rem;

      .dropdown-option:first-of-type {
        border-top: 1px solid $black100;
      }
      .dropdown-option {
        border-left: 4px solid $black200;
        border-bottom: 1px solid $black100;
        letter-spacing: 1px;
        font-size: 14px;
        background-color: white !important;
        cursor: pointer;
        align-self: center;
        padding: 8px;
      }

      .dropdown-option:first-child {
        border-radius: 0.28571429rem 0.28571429rem 0 0;
      }
      .dropdown-option:last-child {
        border-radius: 0 0 0.28571429rem 0.28571429rem;
      }

      .dropdown-option:hover {
        font-size: 14px;
        letter-spacing: 1px;
        background-color: rgb(255, 255, 255);
        cursor: pointer;
        align-self: center;
        padding: 8px;
        font-weight: 800;
        border-left: 4px $black100 solid;
      }
    }
  }

  .follow-text:hover {
    border-bottom: 4px solid $purple100 !important;
    cursor: pointer;
  }

  $n: 10;
  @for $i from 0 through $n {
    #follower-container:nth-child(#{$i + 1}) {
      left: 27px * $i;
    }
  }
}

/** MODAL STYLES **/
.modal {
  .content {
    border: 1px solid $black200;
    padding-top: 5px !important;
    background-color: $white200 !important;
    height: -moz-max-content; /* Firefox/Gecko */
    height: -webkit-max-content; /* Chrome */
    height: intrinsic; /* Safari/WebKit uses a non-standard name */
  }
}

#loading-component {
  .loading-text {
    text-transform: uppercase;
  }
}

/** FORM **/
.form {
  .api-error {
    letter-spacing: 1px;
    color: $black200;
    font-size: 12px;
    font-weight: 800;
  }

  .form-label {
    color: $black200;
    font-size: 14px;
    font-weight: 800;
    border-bottom: 2px solid $black200;
    padding-right: 0.5rem;
  }

  .form-body {
    border-radius: 6px;

    input,
    textarea {
      background-color: $white200;
    }

    .ui.basic.red.label {
      background: none #db2828 !important;
      color: $white100 !important;
      border-color: #db2828 !important;
      margin-left: 0;
    }

    .autocomplete-dropdown-container {
      border: 1px $black200 solid;
      position: absolute;
      z-index: 2;
      position: absolute;
      top: 38px;
      border-radius: 1px 1px;
    }
    .autocomplete-dropdown-container > div:not([role="option"]) {
      display: none;
    }

    .suggestion-item {
      letter-spacing: 1px;
      font-size: 14px;
      background-color: $white100 !important;
      cursor: pointer;
      align-self: center;
      padding: 8px;
    }

    .suggestion-item:not(:last-child) {
      border-bottom: solid 1px rgb(189, 186, 186);
    }

    .suggestion-item--active {
      font-size: 14px;
      letter-spacing: 1px;
      background-color: rgb(255, 255, 255);
      cursor: pointer;
      align-self: center;
      padding: 8px;
      font-weight: 800;
      border-left: 4px $black100 solid;
    }

    .suggestion-item--active:not(:last-child) {
      border-bottom: solid 1px rgb(83, 83, 83);
    }
  }
}

/** HOME PAGE **/
#home-page {
  .ui-container {
    @include container;
  }
}

#profile-photo-update {
  .cropper-view-box {
    border-radius: 200px;
  }

  .cropper-crop-box {
    height: 100% !important;
    width: 100% !important;
  }
}

/** USER PROFILE **/
#user-profile {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-content: stretch;
  flex-wrap: wrap;
  padding-bottom: 70px;

  /** CROPPER **/
  #cropper {
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    .cropper-crop-box {
      z-index: 9;
    }
    .cropper-line,
    .cropper-point {
      background-color: $purple100 !important;
    }
    .crop-action-row {
      position: absolute;
      top: 5px;
      left: 5px;
      z-index: 10;
    }
    .cropper-container {
      width: unset !important;
      height: 30rem !important;
      border-radius: 15px;
    }
    .cropper-modal {
      border-radius: 15px;
    }

    .cropper-view-box {
      border-radius: 15px;
    }

    .cropper-wrap-box {
      border-radius: 15px;
    }
  }

  .cropping {
    border-radius: 15px;
    height: 30rem;
    .details-container {
      justify-content: flex-end;
      .action-row {
        visibility: hidden !important;
      }
    }
  }

  .profile-banner {
    border-radius: 15px;
  }

  .profile-banner:hover {
    .edit-cover-button {
      display: inline;
    }
  }

  .ui-container {
    @include container;
  }

  .about-text {
    letter-spacing: 1px;
    text-align: justify;
    white-space: pre-wrap;
    .black-badge {
      margin-left: 0;
      margin-right: 0.25rem;
    }
  }

  .details-container {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    height: 52px;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .user-name {
    @include inverse-text-shadow;
    letter-spacing: 3.5px;
    margin-top: 0px;
    font-size: 40px;
    color: white;
    height: 50px;
    padding: 10px;
    padding-left: 0px;
  }
  .section-title {
    padding-right: 10px;
    margin-bottom: 8px;
    font-weight: 600;
    letter-spacing: 3px !important;
    font-size: 16px;
    padding-bottom: 3px;
    color: #232323 !important;
  }

  .followers {
    color: black !important;
  }

  .edit-profile-btn {
    z-index: 999;
  }

  .edit-cover-button {
    z-index: 999;
    display: none;
  }

  .profile-img {
    border: 4px solid;
    width: 150px;
    height: 150px !important;
    font-size: 0.92857143rem;
    margin-left: 1rem;
    object-fit: cover;
  }

  .genre-mobile {
    display: none !important;
  }

  .left-col {
    border-right: 1px solid $white200;
  }

  .follow-text {
    font-weight: 600;
    letter-spacing: 3px !important;
    font-size: 16px;
    padding-bottom: 3px;
    color: $black100 !important;
  }

  #follower-list {
    // padding-bottom: 40px;
    .section-title {
      font-size: 14px;
    }
    .followers {
      width: 130px;
    }

    .follower-icon {
      width: 25px;
      height: 25px;
      font-size: 15px;
    }
  }

  @media only screen and (max-width: 991px) {
    .genre-desktop {
      display: none !important;
    }
    .genre-mobile {
      display: flex !important;
    }

    #follower-list {
      .section-title {
        font-size: 12px;
      }
    }
  }
}

#follower-square {
  cursor: pointer;
}

#bookings {
  .component-container:last-of-type {
    margin-bottom: 30px;
  }

  .booking-item {
    // background: $white200;
    padding: 15px;
    border: 1px solid $white300;
    border-radius: 10px;
    cursor: pointer;

    .name {
      font-size: 20px;
      font-weight: 800;
      // text-transform: uppercase;
    }

    .date {
      font-size: 14px;
      font-weight: 800;
    }

    .black-badge {
      // color: $black200;
      margin-bottom: 0px;
      .badge-name {
        margin-bottom: 0px;
        font-size: 14px;
      }
    }
  }

  @media only screen and (max-width: 991px) {
    .booking-container {
      padding: 0px;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 991px) {
  #app-layout {
    flex-direction: column !important;
  }

  .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .profile-photo.banner-photo {
    display: block !important;
  }

  #user-profile {
    .left-col {
      border-right: unset !important;
    }
  }

  .app-holder {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 767px) {
  #navbar {
    .navbar {
      padding-left: 10px;
      padding-right: 10px;
    }

    .navbar-title {
      display: none;
    }

    .navbar-toggler {
      border: unset !important;
    }
  }

  .ui.container {
    width: unset !important;
  }

  #track {
    .track-image {
      width: 130px !important;
      height: 130px !important;
    }

    .track-name {
      font-size: 14px !important;
    }
  }
}
