$navbarColor: #002233;
$borderColor: #002233;
$headingColor: #f1f1f1;
$textColor: #ccc5b9;
$purple: #6d69fa;
$darkPurple: #5753cf;

@import url("https://fonts.googleapis.com/css2?family=Barlow");
html {
  height: 100%;
}
html,
body {
  overflow: auto;
}
body {
  height: 100%;
  background-image: url("./assets/background.svg") !important ;
  // margin: 0 auto;
  background-size: cover !important;
  background-attachment: inherit !important;
  background-position: center center;
  font-family: "Barlow", serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headingColor;
}

$start: 0;
$end: 10;

@for $i from $start through $end {
  .pl-#{$i} {
    padding-left: #{0.5 * $i}rem;
  }

  .pr-#{$i} {
    padding-right: #{0.5 * $i}rem;
  }

  .ml-#{$i} {
    margin-left: #{0.5 * $i}rem;
  }

  .mr-#{$i} {
    margin-right: #{0.5 * $i}rem;
  }

  .br-#{$i} {
    border-radius: #{$i}px;
  }
}

/** ANIMATIONS **/
.fade-in {
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s; /* Firefox < 16 */
  -ms-animation: fadein 0.5s; /* Internet Explorer */
  -o-animation: fadein 0.5s; /* Opera < 12.1 */
  animation: fadein 0.5s;
}

/** TOP LEVEL CLASSES **/
.font-bold {
  font-weight: bold;
}

.app-container {
  height: 100%;
}

.black-border {
  border: 1px solid $borderColor;
}

/** CONTAINERS **/
@mixin container {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px,
    rgba(230, 230, 230, 0.3) 0px 10px 20px -4px;
  border-radius: 1px 1px 30px 5px;
  min-height: 150px;
  margin-bottom: 20px;
  background-color: white;
  color: $borderColor;
}

@mixin logo {
  background-image: url("./assets/logo.png");
  background-size: contain !important;
  background-attachment: inherit !important;
  background-position: center center;
  background-repeat: no-repeat !important;
}

@mixin logo-black {
  background-image: url("./assets/logo-black.png");
  background-size: contain !important;
  background-attachment: inherit !important;
  background-position: center center;
  background-repeat: no-repeat !important;
}

/** LOGOS **/

.navbar-logo {
  @include logo;
  width: 60px;
  height: 60px;
}

/** MODAL **/
.ui.dimmer {
  transition: background-color 5s ease;
  background-color: transparent !important;
}

.modal-fade-in .ui.dimmer {
  background-color: rgba(233, 233, 233, 0.739) !important;
}

/** LANDING PAGE **/
#landing-page {
  .banner {
    height: 25rem;
    background-image: url("./assets/landing-page-banner/banner1.jpg");
    background-size: cover !important;
    background-attachment: inherit !important;
    background-position: center center;
    border-radius: 0px 0px 5px 5px;
    border-top: unset !important;
    -webkit-transition: background-image 1s ease;
    transition: background-image 1s ease;
    border: 1px solid $borderColor;

    .page-title {
      letter-spacing: 3.5px;
      font-size: 50px;
      text-shadow: -1px 0 $borderColor, 0 1px $borderColor, 1px 0 $borderColor,
        0 -1px $borderColor;
    }
  }

  #landing-page-search {
    .search-text {
      letter-spacing: 1px;
      font-weight: 600;
      font-size: 20px;
      color: white;
      text-shadow: -1px 0 $borderColor, 0 1px $borderColor, 1px 0 $borderColor,
        0 -1px $borderColor;
    }
  }

  .search-box {
    width: 400px;
  }
  .container {
    @include container;
  }
}

/** NAVBAR **/
.navbar {
  background-color: $navbarColor !important;
  border-bottom: 1px solid $borderColor;
}

/** BUTTONS **/
.purple-button {
  background-color: $purple;
  border: 1px solid $borderColor;
  color: white;
  font-size: 14px;
  letter-spacing: 1.5px;
  transition: background-color 0.5s ease;
  transition: border-color 0.5s ease;
}

.purple-button:hover {
  background-color: $darkPurple;
  border: 1px solid white;
}

/** AUTH MODAL **/
.header {
  padding: 10px;
}

.header-logo {
  @include logo-black;
  width: 40px;
  height: 40px;
}

.header-title {
  font-size: 30px !important;
  // border-radius: 10px;
  text-shadow: -1px 0 $borderColor, 0 1px $borderColor, 1px 0 $borderColor,
    0 -1px $borderColor;
  letter-spacing: 1.5px;
  border-bottom: 2px solid $borderColor;
  padding-bottom: 5px;
  padding-right: 20px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
