/** MIX-INS **/
@import url("https://fonts.googleapis.com/css2?family=Afacad");
@import url("https://fonts.googleapis.com/css2?family=Roboto");
html {
  height: 100%;
}

html,
body {
  height: 100%;
  font-family: "Afacad", serif !important;
  overflow: auto;
  background-color: #fcfcfd !important;
}

#root {
  height: 100%;
}

#app-layout {
  height: 100%;
}

.top-71 {
  transform: translateY(-36px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", serif !important;
  color: black;
  transform: translateZ(5px);
  letter-spacing: 0.6px;
}
h1 .button-highlight,
h2 .button-highlight,
h3 .button-highlight,
h4 .button-highlight,
h5 .button-highlight,
h6 .button-highlight {
  position: relative;
  z-index: 1;
  display: inline-block;
  color: #f1f1f1;
  font-weight: 100;
  transition: background-color 0.3s ease;
}
h1 .button-highlight:before,
h2 .button-highlight:before,
h3 .button-highlight:before,
h4 .button-highlight:before,
h5 .button-highlight:before,
h6 .button-highlight:before {
  content: "";
  position: absolute;
  bottom: 10%;
  left: -0.1rem;
  top: -0.2rem;
  transform: rotate(-2deg) !important;
  width: calc(100% + 1rem);
  height: 100%;
  --tw-bg-opacity: 1;
  background-color: #232323;
  z-index: -1;
  transform: translateZ(-1px);
  border-radius: 2px;
}
h1 .button-highlight:hover,
h2 .button-highlight:hover,
h3 .button-highlight:hover,
h4 .button-highlight:hover,
h5 .button-highlight:hover,
h6 .button-highlight:hover {
  background-color: #6d69fa;
}
h1 .black-highlight,
h2 .black-highlight,
h3 .black-highlight,
h4 .black-highlight,
h5 .black-highlight,
h6 .black-highlight {
  position: relative;
  z-index: 1;
  display: inline-block;
  color: #f1f1f1;
  font-weight: 800;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}
h1 .black-highlight:before,
h2 .black-highlight:before,
h3 .black-highlight:before,
h4 .black-highlight:before,
h5 .black-highlight:before,
h6 .black-highlight:before {
  content: "";
  position: absolute;
  bottom: 10%;
  left: -0.5rem;
  top: -0.4rem;
  transform: rotate(-2deg) !important;
  width: calc(100% + 1rem);
  height: 140%;
  --tw-bg-opacity: 1;
  background-color: #232323;
  z-index: -1;
  transform: translateZ(-1px);
  border-radius: 2px;
}
h1 .purple-highlight,
h2 .purple-highlight,
h3 .purple-highlight,
h4 .purple-highlight,
h5 .purple-highlight,
h6 .purple-highlight {
  position: relative;
  z-index: 1;
  display: inline-block;
  color: #232323;
  font-weight: 800;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}
h1 .purple-highlight:before,
h2 .purple-highlight:before,
h3 .purple-highlight:before,
h4 .purple-highlight:before,
h5 .purple-highlight:before,
h6 .purple-highlight:before {
  content: "";
  position: absolute;
  bottom: 10%;
  left: -0.5rem;
  top: -0.4rem;
  transform: rotate(-2deg) !important;
  width: calc(100% + 1rem);
  height: 140%;
  --tw-bg-opacity: 1;
  background-color: #6d69fa;
  z-index: -1;
  transform: translateZ(-1px);
  border-radius: 3px;
}

.btn h4 {
  color: #fcfcfd;
}

.pl-0 {
  padding-left: 0rem;
}

.pr-0 {
  padding-right: 0rem;
}

.ml-0 {
  margin-left: 0rem;
}

.mr-0 {
  margin-right: 0rem;
}

.br-0 {
  border-radius: 0px;
}

.pl-1 {
  padding-left: 0.5rem;
}

.pr-1 {
  padding-right: 0.5rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.br-1 {
  border-radius: 1px;
}

.pl-2 {
  padding-left: 1rem;
}

.pr-2 {
  padding-right: 1rem;
}

.ml-2 {
  margin-left: 1rem;
}

.mr-2 {
  margin-right: 1rem;
}

.br-2 {
  border-radius: 2px;
}

.pl-3 {
  padding-left: 1.5rem;
}

.pr-3 {
  padding-right: 1.5rem;
}

.ml-3 {
  margin-left: 1.5rem;
}

.mr-3 {
  margin-right: 1.5rem;
}

.br-3 {
  border-radius: 3px;
}

.pl-4 {
  padding-left: 2rem;
}

.pr-4 {
  padding-right: 2rem;
}

.ml-4 {
  margin-left: 2rem;
}

.mr-4 {
  margin-right: 2rem;
}

.br-4 {
  border-radius: 4px;
}

.pl-5 {
  padding-left: 2.5rem;
}

.pr-5 {
  padding-right: 2.5rem;
}

.ml-5 {
  margin-left: 2.5rem;
}

.mr-5 {
  margin-right: 2.5rem;
}

.br-5 {
  border-radius: 5px;
}

.pl-6 {
  padding-left: 3rem;
}

.pr-6 {
  padding-right: 3rem;
}

.ml-6 {
  margin-left: 3rem;
}

.mr-6 {
  margin-right: 3rem;
}

.br-6 {
  border-radius: 6px;
}

.pl-7 {
  padding-left: 3.5rem;
}

.pr-7 {
  padding-right: 3.5rem;
}

.ml-7 {
  margin-left: 3.5rem;
}

.mr-7 {
  margin-right: 3.5rem;
}

.br-7 {
  border-radius: 7px;
}

.pl-8 {
  padding-left: 4rem;
}

.pr-8 {
  padding-right: 4rem;
}

.ml-8 {
  margin-left: 4rem;
}

.mr-8 {
  margin-right: 4rem;
}

.br-8 {
  border-radius: 8px;
}

.pl-9 {
  padding-left: 4.5rem;
}

.pr-9 {
  padding-right: 4.5rem;
}

.ml-9 {
  margin-left: 4.5rem;
}

.mr-9 {
  margin-right: 4.5rem;
}

.br-9 {
  border-radius: 9px;
}

.pl-10 {
  padding-left: 5rem;
}

.pr-10 {
  padding-right: 5rem;
}

.ml-10 {
  margin-left: 5rem;
}

.mr-10 {
  margin-right: 5rem;
}

.br-10 {
  border-radius: 10px;
}

/** BANNERS **/
.alert.alert-danger {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #ff6969;
  border: 1px solid #8a7070;
  letter-spacing: 1px;
  color: #001514;
  font-size: 12px;
  font-weight: 800;
}

.alert.alert-info {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #001514;
  background-color: #232323 !important;
  letter-spacing: 1px;
  color: #fcfcfd;
  font-size: 12px;
  font-weight: 800;
}

.alert.alert-success {
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgb(88, 207, 88);
  border: 1px solid black;
  letter-spacing: 1px;
  color: #232323;
  font-size: 12px;
  font-weight: 800;
}

/** ANIMATIONS **/
.fade-in {
  -webkit-animation: fade-in 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s; /* Firefox < 16 */
  -ms-animation: fadein 0.5s; /* Internet Explorer */
  -o-animation: fadein 0.5s; /* Opera < 12.1 */
  animation: fadein 0.5s;
}

/** TOP LEVEL CLASSES **/
.canvasjs-chart-credit {
  display: none;
}

.font-bold {
  font-weight: bold;
}

.white-text {
  color: white !important;
}

.pointer {
  cursor: pointer;
}

.component-container {
  margin-top: 30px;
  background: white;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 0.75rem;
  padding: 15px;
  -webkit-animation: fade-in 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s; /* Firefox < 16 */
  -ms-animation: fadein 0.5s; /* Internet Explorer */
  -o-animation: fadein 0.5s; /* Opera < 12.1 */
  animation: fadein 0.5s;
}

.app-container {
  transition: width 0.3s ease, margin-left 0.3s ease, margin-right 0.3s ease, padding 0.3s ease !important;
  padding: 0px;
  height: -moz-max-content; /* Firefox/Gecko */
  height: -webkit-max-content; /* Chrome */
  height: intrinsic;
  height: max-content;
  height: fit-content;
}

.app-holder {
  top: 71px;
  position: absolute;
  min-height: calc(100% - 71px);
}
@media only screen and (max-width: 991px) {
  .app-holder {
    padding-bottom: 30px;
  }
}

.black-border {
  border: 1px solid #232323;
}

.gray-line {
  border-bottom: 1px solid rgb(219, 219, 219);
}

.black-line {
  border-bottom: 1px solid #001514;
}

.w-fit-content {
  width: -moz-max-content; /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
  width: intrinsic;
  width: max-content;
  width: fit-content;
}

.masthead {
  height: 100%;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

/** LOGOS **/
.landing-page-logo {
  background-image: url("./assets/updated-logo4.png");
  background-size: contain !important;
  background-attachment: inherit !important;
  background-position: center center;
  background-repeat: no-repeat !important;
  width: 200px;
  height: 200px;
}

/** ICONS **/
.spotify-icon {
  width: 25px;
  height: 25px;
  background-size: cover !important;
  background-attachment: inherit !important;
  background-position: center center;
  background-image: url(./assets/icons/spotify.svg);
}

.soundcloud-icon {
  width: 25px;
  height: 25px;
  background-size: cover !important;
  background-attachment: inherit !important;
  background-position: center center;
  background-image: url(./assets/icons/soundcloud.svg);
}

.youtube-icon {
  width: 25px;
  height: 25px;
  background-size: cover !important;
  background-attachment: inherit !important;
  background-position: center center;
  background-image: url(./assets/icons/youtube.svg);
}

.home-icon {
  width: 25px;
  height: 25px;
  background-size: cover !important;
  background-attachment: inherit !important;
  background-position: center center;
  background-image: url(./assets/icons/home.svg);
}

.signout-icon {
  width: 25px;
  height: 25px;
  background-size: cover !important;
  background-attachment: inherit !important;
  background-position: center center;
  background-image: url(./assets/icons/arrow.svg);
}

/** MODAL **/
.ui.dimmer {
  transition: background-color 5s ease;
  background-color: transparent !important;
}

.modal-fade-in .ui.dimmer {
  background-color: rgba(233, 233, 233, 0.739) !important;
}

/** LANDING PAGE **/
#landing-page {
  margin-top: 30px;
}
#landing-page .banner {
  height: 25rem;
  background-image: url("./assets/landing-page-banner/banner1.jpg");
  background-size: cover !important;
  background-attachment: inherit !important;
  background-position: center center;
  border-top: unset !important;
  -webkit-transition: background-image 1s ease;
  transition: background-image 1s ease;
  border: 1px solid #e2e8f0;
  width: 100%;
  margin: 0;
  border-radius: 15px;
}
#landing-page .banner .banner-title {
  letter-spacing: 3.5px;
  font-size: 44px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
#landing-page #landing-page-search .search-text {
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
#landing-page .search-box {
  width: 400px;
}
#landing-page .ui-container {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px, rgba(230, 230, 230, 0.3) 0px 10px 20px -4px;
  border-radius: 1px 1px 30px 5px;
  min-height: 150px;
  margin-bottom: 20px;
  background-color: white;
  color: #232323;
}

i.large.icon {
  color: white !important;
}

/** NAVBAR **/
#navbar {
  background: #fcfcfd;
  border-bottom: 1px solid rgb(226, 232, 240);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: fixed;
  top: 0;
  z-index: 2;
  padding-right: 10px;
  padding-left: 10px;
}
#navbar .ui.ui-container {
  padding: 0;
}
#navbar .navbar-logo {
  cursor: pointer;
  border-right: 3px solid #001514;
  border-radius: 15px;
}
#navbar .navbar-title {
  font-size: 32px !important;
  text-shadow: -1px 0 #232323, 0 1px #232323, 1px 0 #232323, 0 -1px #232323;
  color: #fcfcfd;
  letter-spacing: 3.5px;
}
#navbar .navbar-toggler-icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  vertical-align: middle;
  background: url(./assets/icons/drop-down-menu-inverted.svg) 50% 50% no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border: unset !important;
}
#navbar .navbar-toggler {
  margin-right: 0 !important;
  border: unset !important;
}
#navbar .navbar-toggler.collapsed {
  border: unset !important;
}

#offcanvasNavbar-expand-false {
  background-color: #232323;
}
#offcanvasNavbar-expand-false .navbar-title {
  font-size: 32px !important;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  letter-spacing: 3.5px;
}
#offcanvasNavbar-expand-false .hide-options {
  display: none;
}
#offcanvasNavbar-expand-false .nav-bar-logout {
  flex: 1;
}
#offcanvasNavbar-expand-false .sidebar-title {
  font-size: 24px !important;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-weight: 800;
  letter-spacing: 1.5px;
}
#offcanvasNavbar-expand-false .sidebar-item {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  transition: background-color 0.2s ease-in, border-radius 0.2s ease-in;
  background-color: #232323;
}
#offcanvasNavbar-expand-false .sidebar-text {
  text-shadow: -1px 0 #232323, 0 1px #232323, 1px 0 #232323, 0 -1px #232323;
  color: white;
}
#offcanvasNavbar-expand-false .sidebar-item.active {
  background-color: #6d69fa !important;
  border-radius: 10px;
}
#offcanvasNavbar-expand-false .sidebar-item:hover {
  background-color: #001514;
  border-radius: 10px;
}
#offcanvasNavbar-expand-false .sidebar-link-container {
  border-radius: 10px;
}

/** BUTTONS **/
.white-button {
  color: #232323;
  font-size: 16px;
  letter-spacing: 2px;
  transition: border-color 0.3s ease;
  transition: background-color 0.3s ease;
  border-radius: 10px 10px;
  background-color: #fcfcfd !important;
  border: 1px solid #001514;
  padding: 5px;
  color: #001514 !important;
  background-color: unset;
  transition: width 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out !important;
}
.white-button h4 {
  transition: color 0.3s ease-in-out !important;
}

.white-button:hover,
.white-button:active,
.white-button:focus {
  color: #e2e8f0 !important;
  background-color: #6d69fa !important;
  border: 1px solid #001514;
}
.white-button:hover h4,
.white-button:active h4,
.white-button:focus h4 {
  color: #e2e8f0 !important;
}

.white-button h4 {
  color: #001514;
}

.transparent-button {
  color: #232323;
  font-size: 16px;
  letter-spacing: 2px;
  transition: border-color 0.3s ease;
  transition: background-color 0.3s ease;
  border-radius: 10px 10px;
  border: 1px solid transparent;
  padding: 5px;
  color: black !important;
  background-color: unset;
  text-transform: uppercase !important;
}

.transparent-button:hover,
.transparent-button:active,
.transparent-button:focus {
  background-color: unset !important;
  border: 1px solid transparent;
}

.transparent-button h4 {
  color: #001514;
}

.black-button {
  color: #232323;
  font-size: 16px;
  letter-spacing: 2px;
  transition: border-color 0.3s ease;
  transition: background-color 0.3s ease;
  border-radius: 10px 10px;
  background-color: #232323;
  border: 1px solid #001514;
  padding: 5px;
  transition: border 0.3s ease-in-out !important;
  background-image: linear-gradient(#232323, #001514);
}
.black-button h4 {
  font-weight: 100 !important;
}

.black-button:hover,
.black-button:active,
.black-button:focus {
  background-color: #001514 !important;
  border: 1px solid white;
  color: #232323;
}

.black-button:disabled {
  opacity: 0.5;
  background-color: #232323;
  border: 1px solid #232323;
  color: white;
}

.soundcloud-button {
  color: #232323;
  font-size: 16px;
  letter-spacing: 2px;
  transition: border-color 0.3s ease;
  transition: background-color 0.3s ease;
  border-radius: 10px 10px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  background-color: #ff6100;
  border: black 1px solid;
}
.soundcloud-button h4 {
  color: #232323;
}

.soundcloud-button:hover,
.soundcloud-button:active,
.soundcloud-button:focus {
  background-color: #ff6100;
  border: white 1px solid;
}

.spotify-button {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: #232323;
  font-size: 16px;
  letter-spacing: 2px;
  transition: border-color 0.3s ease;
  transition: background-color 0.3s ease;
  border-radius: 10px 10px;
  transition: background-color border 0.5s ease;
  background-color: #1ed75d;
  border: black 1px solid;
}
.spotify-button h4 {
  color: #232323;
}

.spotify-button:hover,
.spotify-button:active,
.spotify-button:focus {
  background-color: #1ed75d;
  border: white 1px solid;
}

.youtube-button {
  color: #232323;
  font-size: 16px;
  letter-spacing: 2px;
  transition: border-color 0.3s ease;
  transition: background-color 0.3s ease;
  border-radius: 10px 10px;
  transition: background-color 0.5s ease;
  background-color: #ff0000;
  border: black 1px solid;
}

.youtube-button:hover,
.youtube-button:active,
.youtube-button:focus {
  background-color: #ff4646;
  border: rgb(0, 0, 0) 1px solid;
}

/** BADGES **/
.black-badge {
  color: #fcfcfd !important;
  background-color: #232323 !important;
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 0;
  font-size: 14px;
  text-wrap: initial;
}
.black-badge .badge-delete-btn {
  padding-right: 6.825px;
  padding-top: 3.675px;
  padding-left: 5.825px;
  color: #232323;
  font-weight: 800;
  cursor: pointer;
  border-radius: 0px 0.275rem 0.275rem 0px;
  background-color: #fcfcfd;
}

.purple-badge {
  background-color: #6d69fa !important;
  margin-bottom: 5px;
  padding: 0;
  font-size: 12px;
  color: #fcfcfd;
}
.purple-badge .badge-delete-btn {
  padding-right: 6.825px;
  padding-top: 3.675px;
  padding-left: 5.825px;
  color: white;
  font-weight: 800;
  cursor: pointer;
  border-radius: 0px 0.375rem 0.375rem 0px;
  background-color: #232323;
}

.black-badge .badge-name,
.purple-badge .badge-name {
  padding-bottom: 4.675px;
  padding-left: 6.825px;
  padding-top: 3.675px;
  font-size: 12px;
}
.black-badge .badge-name.long,
.purple-badge .badge-name.long {
  padding-right: 6.825px;
}

#upload-list .track-container {
  border-bottom: 1px solid #e2e8f0;
}
#upload-list .track-container:last-of-type {
  border-bottom: unset !important;
}

#music-player {
  position: fixed;
  bottom: 0;
  background-color: #232323;
  border-top: 3px solid #001514;
  min-height: 60px;
  width: 100%;
  color: #fcfcfd;
  z-index: 999;
  /********** Range Input Styles **********/
  /*Range Reset*/
  /* Removes default focus */
  /***** Chrome, Safari, Opera and Edge Chromium styles *****/
  /* slider track */
  /* slider thumb */
  /******** Firefox styles ********/
  /* slider track */
  /* slider thumb */
}
#music-player .player-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
#music-player .player-container h1,
#music-player .player-container h2,
#music-player .player-container h3,
#music-player .player-container h4,
#music-player .player-container h5,
#music-player .player-container h6 {
  color: white !important;
}
#music-player .player-container .volume {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  height: 40px;
}
#music-player .player-container .volume .arrow-down {
  position: absolute;
  top: 140px;
  width: 0;
  height: 0;
  margin-left: -1px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #001514;
}
#music-player .player-container .volume .inner-arrow {
  position: absolute;
  top: 139px;
  margin-left: 0px;
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 11px solid #232323;
  z-index: 2;
}
#music-player .player-container .volume .volume-control {
  position: absolute;
  display: none;
  height: 143px;
  width: 25px;
  margin-left: -33px;
  background-color: #232323;
  border: 2px solid #001514;
  border-bottom: unset;
  border-radius: 10px 10px 0px 0px;
  top: -150px;
  /* Removes default focus */
  /***** Chrome, Safari, Opera and Edge Chromium styles *****/
  /* slider track */
  /* slider thumb */
  /******** Firefox styles ********/
  /* slider track */
  /* slider thumb */
}
#music-player .player-container .volume .volume-control input[type=range].seek-slider {
  touch-action: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 9.3rem;
  transform: rotate(270deg);
  margin-left: -54px;
  margin-top: 68px;
  z-index: 100 !important;
}
#music-player .player-container .volume .volume-control input[type=range].seek-slider:focus {
  outline: none;
}
#music-player .player-container .volume .volume-control input[type=range].seek-slider::-webkit-slider-runnable-track {
  background-color: #6d69fa;
  border-radius: 0.5rem;
  height: 0.5rem;
  z-index: 100 !important;
}
#music-player .player-container .volume .volume-control input[type=range].seek-slider::-webkit-slider-thumb {
  z-index: 100 !important;
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -0.2rem; /* Centers thumb on the track */
  /*custom styles*/
  background-color: #f1f1f1;
  border-radius: 200px;
  height: 1rem;
  width: 1rem;
}
#music-player .player-container .volume .volume-control input[type=range].seek-slider::-moz-range-track {
  background-color: #6d69fa;
  border-radius: 0.5rem;
  height: 0.5rem;
}
#music-player .player-container .volume .volume-control input[type=range].seek-slider::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  /*custom styles*/
  background-color: #fcfcfd;
  border-radius: 200px;
  height: 1rem;
  width: 1rem;
}
#music-player .player-container .volume:hover .volume-control,
#music-player .player-container .volume:active .volume-control,
#music-player .player-container .volume:focus .volume-control {
  display: block;
}
@media only screen and (max-width: 991px) {
  #music-player .player-container {
    flex-direction: column;
  }
  #music-player .player-container .volume-control {
    height: 143px !important;
    top: -149px !important;
  }
  #music-player .player-container .arrow-down {
    top: 141px !important;
  }
  #music-player .player-container .inner-arrow {
    top: 140px !important;
  }
  #music-player .player-container .track-details {
    justify-content: center !important;
    cursor: pointer;
  }
  #music-player .player-container .track-artist {
    flex-direction: row !important;
    margin-left: 0px;
    align-items: center;
    margin-top: 5px;
  }
  #music-player .player-container .track-artist .track-name {
    margin-right: 5px;
    font-size: 16px;
  }
  #music-player .player-container .track-artist .track-name::after {
    content: " - ";
  }
  #music-player .player-container .track-artist .artist-name {
    font-size: 16px;
    font-weight: 800;
  }
  #music-player .player-container .track-image {
    display: none !important;
  }
  #music-player .player-container .track-details {
    justify-content: start;
    margin-bottom: 5px;
  }
}
#music-player .audio-button {
  cursor: pointer;
  color: white !important;
}
#music-player .seek-slider {
  flex-grow: 1;
}
#music-player .artist-name {
  color: gray;
}
#music-player .track-name {
  font-size: 14px;
  font-weight: 800;
}
#music-player input[type=range].seek-slider {
  touch-action: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 1.5rem;
}
#music-player input[type=range].seek-slider:focus {
  outline: none;
}
#music-player input[type=range].seek-slider::-webkit-slider-runnable-track {
  background-color: #6d69fa;
  border-radius: 0.5rem;
  height: 0.5rem;
}
#music-player input[type=range].seek-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -3px; /* Centers thumb on the track */
  /*custom styles*/
  background-color: #fcfcfd;
  border-radius: 200px;
  height: 1rem;
  width: 1rem;
}
#music-player input[type=range].seek-slider::-moz-range-track {
  background-color: #6d69fa;
  border-radius: 0.5rem;
  height: 0.5rem;
}
#music-player input[type=range].seek-slider::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  /*custom styles*/
  background-color: #fcfcfd;
  border-radius: 200px;
  height: 1rem;
  width: 1rem;
}

#track .action-row {
  display: flex;
  flex-direction: row;
  height: 27px;
}
#track .track-button {
  padding-top: 1px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 6px;
}
#track .track-button .small {
  margin-right: 0px;
  padding-left: 1px;
}
#track .track-button:disabled {
  background-color: #f1f1f1 !important;
  border: 1px solid #001514 !important;
}
#track .bin-button .small {
  padding-left: 2px;
}
#track .track-image {
  border-radius: 5px;
  width: 150px !important;
  height: 150px !important;
}
#track .track-genre-list {
  margin-top: 5px;
  text-align: right;
}
#track .artist-name {
  color: gray;
}
#track .track-name {
  font-size: 20px;
  font-weight: 800;
}
#track .track-name {
  font-size: 20px;
  font-weight: 800;
}
#track .play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: unset;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  padding-bottom: 3px;
  transition: border 0.1s ease-in-out !important;
}
#track .play-button:hover {
  border: 2px solid #232323;
}
#track .play-button i.icon {
  margin: 0 !important;
  color: #232323 !important;
  margin-left: 3px !important;
}

#track-upload {
  width: 100%;
}
#track-upload .header-title {
  border-bottom: 4px solid #232323;
  color: #001514 !important;
  font-size: 18px !important;
  font-weight: 800;
  letter-spacing: 1.5px;
  padding-bottom: 5px;
  font-family: "Afacad", serif !important;
  background: unset;
  border-left: unset;
  border-right: unset;
  border-top: unset;
  transition: border-bottom 0.2s ease-in-out !important;
  margin-right: 20px;
  padding-left: 0;
  padding-right: 14px;
  padding-top: 7px;
}
#track-upload .dropzone {
  height: 300px;
  width: 100%;
  border: 1px dashed rgb(178, 178, 178);
  border-radius: 5px;
  cursor: pointer;
}
#track-upload .waveform-progress {
  background-color: #232323 !important;
}
#track-upload .track-progress {
  background-color: #001514 !important;
}

#waveform-container {
  width: 100%;
  height: 80px;
  position: relative;
}
#waveform-container canvas {
  width: 100%;
  height: 80px;
}

#artist-packages .box-icon {
  width: 25px;
  height: 25px;
  font-size: 15px;
}
#artist-packages .package-container {
  gap: 10px 0px;
}
#artist-packages #artist-package-display .component-container:hover .images-container {
  margin-left: 0px;
}
#artist-packages #artist-package-display .component-container:hover .images-container .package-image {
  transform: rotate(0deg) translateY(0px) !important;
  margin-right: 0px;
}
#artist-packages #artist-package-display .bin-icon {
  position: absolute;
  z-index: 9;
  right: -5px;
  top: -10px;
  cursor: pointer;
  color: #f1f1f1 !important;
  padding-left: 5px;
  padding-right: 3px;
}
#artist-packages #artist-package-display .pencil-icon {
  position: absolute;
  z-index: 9;
  right: 25px;
  top: -10px;
  cursor: pointer;
  color: #f1f1f1 !important;
  padding-left: 5px;
  padding-right: 3px;
}
#artist-packages #artist-package-display .close-icon {
  position: absolute;
  z-index: 9;
  left: -10px;
  top: -10px;
  cursor: pointer;
  color: #f1f1f1 !important;
  padding-left: 5px;
  padding-right: 3px;
}
#artist-packages #artist-package-display .description {
  white-space: pre-wrap;
}
#artist-packages #artist-package-display .images-container {
  margin-top: 10px;
  margin-bottom: 40px;
  transition: margin-left 0.3s ease-in-out;
}
#artist-packages #artist-package-display .images-container .expanded-image {
  width: 36%;
  border-radius: 3px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
  border: 1px solid transparent;
  transition: border 0.3s ease-in-out;
}
#artist-packages #artist-package-display .images-container .expanded-image:hover {
  border: 1px solid #232323;
}
#artist-packages #artist-package-display .images-container .package-image {
  border-radius: 10px;
  border: 2px #fcfcfd solid;
  width: 33%;
  transition: margin-right 0.3s ease-in-out, transform 0.3s ease-in-out;
}
#artist-packages #artist-package-display .images-container .package-image:nth-of-type(1) {
  transform: rotate(-10deg) translateY(5px) translateX(-35px) !important;
  margin-right: -65px;
  z-index: 10;
}
#artist-packages #artist-package-display .images-container .package-image:nth-of-type(2) {
  transform: rotate(0deg) translateY(0px) translateX(-35px) !important;
  margin-right: -65px;
  z-index: 9;
}
#artist-packages #artist-package-display .images-container .package-image:nth-of-type(3) {
  transform: rotate(10deg) translateY(5px) translateX(-35px) !important;
  margin-right: -65px;
  z-index: 8;
}
#artist-packages #artist-package-display .images-container .package-image:nth-of-type(4) {
  transform: rotate(20deg) translateY(20px) translateX(-35px) !important;
  margin-right: -65px;
  z-index: 7;
}
#artist-packages #artist-package-display.selected-package {
  width: 100%;
}

#multi-cropper .multi-image-placeholder {
  height: 315px;
  width: 315px;
  background: linear-gradient(20deg, #f1f1f1, #e2e8f0);
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}
#multi-cropper .image-display {
  border-radius: 5px;
  transition: width 0.2s ease-in-out !important;
}
#multi-cropper .image-display.enlarge {
  width: 120px;
}
#multi-cropper .bin-icon {
  position: absolute;
  z-index: 9;
  right: 5px;
  top: -5px;
  cursor: pointer;
  color: #f1f1f1 !important;
  padding-left: 5px;
  padding-right: 3px;
}

#modal-popup,
#edit-artist,
#artist-profile {
  width: 100%;
  background-color: #fcfcfd;
}
#modal-popup .badge-container,
#edit-artist .badge-container,
#artist-profile .badge-container {
  margin-left: 0.25rem;
}
#modal-popup .badge-container:first-of-type,
#edit-artist .badge-container:first-of-type,
#artist-profile .badge-container:first-of-type {
  margin-left: 0px;
}
#modal-popup .react-datepicker-wrapper,
#edit-artist .react-datepicker-wrapper,
#artist-profile .react-datepicker-wrapper {
  width: 100%;
}
#modal-popup .banner-holder,
#edit-artist .banner-holder,
#artist-profile .banner-holder {
  border: 1px solid #e2e8f0;
  border-radius: 15px;
  margin-top: 20px;
}
#modal-popup .ui.medium.image,
#edit-artist .ui.medium.image,
#artist-profile .ui.medium.image {
  width: 315px !important;
}
#modal-popup .photo-icon,
#edit-artist .photo-icon,
#artist-profile .photo-icon {
  padding-left: 2px;
}
#modal-popup .profile-photo.summary-photo,
#edit-artist .profile-photo.summary-photo,
#artist-profile .profile-photo.summary-photo {
  width: 200px !important;
}
#modal-popup .profile-photo.banner-photo,
#edit-artist .profile-photo.banner-photo,
#artist-profile .profile-photo.banner-photo {
  display: none;
}
#modal-popup .header,
#edit-artist .header,
#artist-profile .header {
  padding: 10px;
}
#modal-popup .header-logo,
#edit-artist .header-logo,
#artist-profile .header-logo {
  background-image: url("./assets/updated-logo4.png");
  background-size: contain !important;
  background-attachment: inherit !important;
  background-position: center center;
  background-repeat: no-repeat !important;
  width: 40px;
  height: 40px;
}
#modal-popup .header-title,
#edit-artist .header-title,
#artist-profile .header-title {
  border-bottom: 4px solid #232323;
  color: #001514 !important;
  font-size: 18px !important;
  font-weight: 800;
  letter-spacing: 1.5px;
  padding-bottom: 5px;
  font-family: "Afacad", serif !important;
  background: unset;
  border-left: unset;
  border-right: unset;
  border-top: unset;
  transition: border-bottom 0.2s ease-in-out !important;
  margin-right: 20px;
  padding-left: 0;
  padding-right: 14px;
  padding-top: 7px;
}
#modal-popup .nav-tabs,
#edit-artist .nav-tabs,
#artist-profile .nav-tabs {
  border-bottom: unset;
}
#modal-popup .nav-link,
#edit-artist .nav-link,
#artist-profile .nav-link {
  border-bottom: 4px solid #232323;
  color: #001514 !important;
  font-size: 18px !important;
  font-weight: 800;
  letter-spacing: 1.5px;
  padding-bottom: 5px;
  font-family: "Afacad", serif !important;
  background: unset;
  border-left: unset;
  border-right: unset;
  border-top: unset;
  transition: border-bottom 0.2s ease-in-out !important;
  margin-right: 20px;
  padding-left: 0;
  padding-right: 14px;
  padding-top: 7px;
  font-size: 14px !important;
  border-bottom: 2px solid rgb(199, 199, 199);
}
#modal-popup .nav-link:hover,
#edit-artist .nav-link:hover,
#artist-profile .nav-link:hover {
  border-bottom: 2px solid #6d69fa;
}
#modal-popup .nav-link.active,
#edit-artist .nav-link.active,
#artist-profile .nav-link.active {
  border-bottom: 2px solid #232323;
}
#modal-popup #search-label-component .box,
#edit-artist #search-label-component .box,
#artist-profile #search-label-component .box {
  margin: 0.28571429rem 0 0 0;
  background-color: white;
  min-height: 92px;
  transition: border-left 0.2s ease-in-out !important;
  font-size: 1em;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
  box-shadow: 0 0 0 0 transparent inset;
}
#modal-popup #search-label-component .box .container,
#edit-artist #search-label-component .box .container,
#artist-profile #search-label-component .box .container {
  padding: 0.67857143em 0.5em;
}
#modal-popup #search-label-component .box .input,
#edit-artist #search-label-component .box .input,
#artist-profile #search-label-component .box .input {
  border-radius: 0;
  border-right: unset;
  border-bottom: unset;
  border-top: 1px solid #e2e8f0;
  border-radius: 0px 0px 0.28571429rem 0.28571429rem;
  margin-left: -1px;
}
#modal-popup #search-label-component .dropdown,
#edit-artist #search-label-component .dropdown,
#artist-profile #search-label-component .dropdown {
  border-radius: 2px;
  border-left: 1px solid #232323;
  border-right: 1px solid #232323;
  position: fixed;
  z-index: 999;
  min-width: 200px;
  max-width: 300px;
  background: white;
  border-radius: 0.28571429rem;
}
#modal-popup #search-label-component .dropdown .dropdown-option:first-of-type,
#edit-artist #search-label-component .dropdown .dropdown-option:first-of-type,
#artist-profile #search-label-component .dropdown .dropdown-option:first-of-type {
  border-top: 1px solid #232323;
}
#modal-popup #search-label-component .dropdown .dropdown-option,
#edit-artist #search-label-component .dropdown .dropdown-option,
#artist-profile #search-label-component .dropdown .dropdown-option {
  border-left: 4px solid #001514;
  border-bottom: 1px solid #232323;
  letter-spacing: 1px;
  font-size: 14px;
  background-color: white !important;
  cursor: pointer;
  align-self: center;
  padding: 8px;
}
#modal-popup #search-label-component .dropdown .dropdown-option:first-child,
#edit-artist #search-label-component .dropdown .dropdown-option:first-child,
#artist-profile #search-label-component .dropdown .dropdown-option:first-child {
  border-radius: 0.28571429rem 0.28571429rem 0 0;
}
#modal-popup #search-label-component .dropdown .dropdown-option:last-child,
#edit-artist #search-label-component .dropdown .dropdown-option:last-child,
#artist-profile #search-label-component .dropdown .dropdown-option:last-child {
  border-radius: 0 0 0.28571429rem 0.28571429rem;
}
#modal-popup #search-label-component .dropdown .dropdown-option:hover,
#edit-artist #search-label-component .dropdown .dropdown-option:hover,
#artist-profile #search-label-component .dropdown .dropdown-option:hover {
  font-size: 14px;
  letter-spacing: 1px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  align-self: center;
  padding: 8px;
  font-weight: 800;
  border-left: 4px #232323 solid;
}
#modal-popup .follow-text:hover,
#edit-artist .follow-text:hover,
#artist-profile .follow-text:hover {
  border-bottom: 4px solid #6d69fa !important;
  cursor: pointer;
}
#modal-popup #follower-container:nth-child(1),
#edit-artist #follower-container:nth-child(1),
#artist-profile #follower-container:nth-child(1) {
  left: 0px;
}
#modal-popup #follower-container:nth-child(2),
#edit-artist #follower-container:nth-child(2),
#artist-profile #follower-container:nth-child(2) {
  left: 27px;
}
#modal-popup #follower-container:nth-child(3),
#edit-artist #follower-container:nth-child(3),
#artist-profile #follower-container:nth-child(3) {
  left: 54px;
}
#modal-popup #follower-container:nth-child(4),
#edit-artist #follower-container:nth-child(4),
#artist-profile #follower-container:nth-child(4) {
  left: 81px;
}
#modal-popup #follower-container:nth-child(5),
#edit-artist #follower-container:nth-child(5),
#artist-profile #follower-container:nth-child(5) {
  left: 108px;
}
#modal-popup #follower-container:nth-child(6),
#edit-artist #follower-container:nth-child(6),
#artist-profile #follower-container:nth-child(6) {
  left: 135px;
}
#modal-popup #follower-container:nth-child(7),
#edit-artist #follower-container:nth-child(7),
#artist-profile #follower-container:nth-child(7) {
  left: 162px;
}
#modal-popup #follower-container:nth-child(8),
#edit-artist #follower-container:nth-child(8),
#artist-profile #follower-container:nth-child(8) {
  left: 189px;
}
#modal-popup #follower-container:nth-child(9),
#edit-artist #follower-container:nth-child(9),
#artist-profile #follower-container:nth-child(9) {
  left: 216px;
}
#modal-popup #follower-container:nth-child(10),
#edit-artist #follower-container:nth-child(10),
#artist-profile #follower-container:nth-child(10) {
  left: 243px;
}
#modal-popup #follower-container:nth-child(11),
#edit-artist #follower-container:nth-child(11),
#artist-profile #follower-container:nth-child(11) {
  left: 270px;
}

/** MODAL STYLES **/
.modal .content {
  border: 1px solid #001514;
  padding-top: 5px !important;
  background-color: #fcfcfd !important;
  height: -moz-max-content; /* Firefox/Gecko */
  height: -webkit-max-content; /* Chrome */
  height: intrinsic; /* Safari/WebKit uses a non-standard name */
}

#loading-component .loading-text {
  text-transform: uppercase;
}

/** FORM **/
.form .api-error {
  letter-spacing: 1px;
  color: #001514;
  font-size: 12px;
  font-weight: 800;
}
.form .form-label {
  color: #001514;
  font-size: 14px;
  font-weight: 800;
  border-bottom: 2px solid #001514;
  padding-right: 0.5rem;
}
.form .form-body {
  border-radius: 6px;
}
.form .form-body input,
.form .form-body textarea {
  background-color: #fcfcfd;
}
.form .form-body .ui.basic.red.label {
  background: none #db2828 !important;
  color: #f1f1f1 !important;
  border-color: #db2828 !important;
  margin-left: 0;
}
.form .form-body .autocomplete-dropdown-container {
  border: 1px #001514 solid;
  position: absolute;
  z-index: 2;
  position: absolute;
  top: 38px;
  border-radius: 1px 1px;
}
.form .form-body .autocomplete-dropdown-container > div:not([role=option]) {
  display: none;
}
.form .form-body .suggestion-item {
  letter-spacing: 1px;
  font-size: 14px;
  background-color: #f1f1f1 !important;
  cursor: pointer;
  align-self: center;
  padding: 8px;
}
.form .form-body .suggestion-item:not(:last-child) {
  border-bottom: solid 1px rgb(189, 186, 186);
}
.form .form-body .suggestion-item--active {
  font-size: 14px;
  letter-spacing: 1px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  align-self: center;
  padding: 8px;
  font-weight: 800;
  border-left: 4px #232323 solid;
}
.form .form-body .suggestion-item--active:not(:last-child) {
  border-bottom: solid 1px rgb(83, 83, 83);
}

/** HOME PAGE **/
#home-page .ui-container {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px, rgba(230, 230, 230, 0.3) 0px 10px 20px -4px;
  border-radius: 1px 1px 30px 5px;
  min-height: 150px;
  margin-bottom: 20px;
  background-color: white;
  color: #232323;
}

#profile-photo-update .cropper-view-box {
  border-radius: 200px;
}
#profile-photo-update .cropper-crop-box {
  height: 100% !important;
  width: 100% !important;
}

/** USER PROFILE **/
#user-profile {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-content: stretch;
  flex-wrap: wrap;
  padding-bottom: 70px;
  /** CROPPER **/
}
#user-profile #cropper {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
#user-profile #cropper .cropper-crop-box {
  z-index: 9;
}
#user-profile #cropper .cropper-line,
#user-profile #cropper .cropper-point {
  background-color: #6d69fa !important;
}
#user-profile #cropper .crop-action-row {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 10;
}
#user-profile #cropper .cropper-container {
  width: unset !important;
  height: 30rem !important;
  border-radius: 15px;
}
#user-profile #cropper .cropper-modal {
  border-radius: 15px;
}
#user-profile #cropper .cropper-view-box {
  border-radius: 15px;
}
#user-profile #cropper .cropper-wrap-box {
  border-radius: 15px;
}
#user-profile .cropping {
  border-radius: 15px;
  height: 30rem;
}
#user-profile .cropping .details-container {
  justify-content: flex-end;
}
#user-profile .cropping .details-container .action-row {
  visibility: hidden !important;
}
#user-profile .profile-banner {
  border-radius: 15px;
}
#user-profile .profile-banner:hover .edit-cover-button {
  display: inline;
}
#user-profile .ui-container {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px, rgba(230, 230, 230, 0.3) 0px 10px 20px -4px;
  border-radius: 1px 1px 30px 5px;
  min-height: 150px;
  margin-bottom: 20px;
  background-color: white;
  color: #232323;
}
#user-profile .about-text {
  letter-spacing: 1px;
  text-align: justify;
  white-space: pre-wrap;
}
#user-profile .about-text .black-badge {
  margin-left: 0;
  margin-right: 0.25rem;
}
#user-profile .details-container {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  height: 52px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#user-profile .user-name {
  text-shadow: -1px 0 #232323, 0 1px #232323, 1px 0 #232323, 0 -1px #232323;
  letter-spacing: 3.5px;
  margin-top: 0px;
  font-size: 40px;
  color: white;
  height: 50px;
  padding: 10px;
  padding-left: 0px;
}
#user-profile .section-title {
  padding-right: 10px;
  margin-bottom: 8px;
  font-weight: 600;
  letter-spacing: 3px !important;
  font-size: 16px;
  padding-bottom: 3px;
  color: #232323 !important;
}
#user-profile .followers {
  color: black !important;
}
#user-profile .edit-profile-btn {
  z-index: 999;
}
#user-profile .edit-cover-button {
  z-index: 999;
  display: none;
}
#user-profile .profile-img {
  border: 4px solid;
  width: 150px;
  height: 150px !important;
  font-size: 0.92857143rem;
  margin-left: 1rem;
  object-fit: cover;
}
#user-profile .genre-mobile {
  display: none !important;
}
#user-profile .left-col {
  border-right: 1px solid #fcfcfd;
}
#user-profile .follow-text {
  font-weight: 600;
  letter-spacing: 3px !important;
  font-size: 16px;
  padding-bottom: 3px;
  color: #232323 !important;
}
#user-profile #follower-list .section-title {
  font-size: 14px;
}
#user-profile #follower-list .followers {
  width: 130px;
}
#user-profile #follower-list .follower-icon {
  width: 25px;
  height: 25px;
  font-size: 15px;
}
@media only screen and (max-width: 991px) {
  #user-profile .genre-desktop {
    display: none !important;
  }
  #user-profile .genre-mobile {
    display: flex !important;
  }
  #user-profile #follower-list .section-title {
    font-size: 12px;
  }
}

#follower-square {
  cursor: pointer;
}

#bookings {
  margin-bottom: 40px;
}
#bookings .component-container:last-of-type {
  margin-bottom: 30px;
}
#bookings .booking-item {
  padding: 15px;
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  cursor: pointer;
}
#bookings .booking-item .name {
  font-size: 20px;
  font-weight: 800;
}
#bookings .booking-item .date {
  font-size: 14px;
  font-weight: 800;
}
#bookings .booking-item .black-badge {
  margin-bottom: 0px;
}
#bookings .booking-item .black-badge .badge-name {
  margin-bottom: 0px;
  font-size: 14px;
}
@media only screen and (max-width: 991px) {
  #bookings .booking-container {
    padding: 0px;
  }
}

@keyframes move-words {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 991px) {
  #app-layout {
    flex-direction: column !important;
  }
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .profile-photo.banner-photo {
    display: block !important;
  }
  #user-profile .left-col {
    border-right: unset !important;
  }
  .app-holder {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 767px) {
  #navbar .navbar {
    padding-left: 10px;
    padding-right: 10px;
  }
  #navbar .navbar-title {
    display: none;
  }
  #navbar .navbar-toggler {
    border: unset !important;
  }
  .ui.container {
    width: unset !important;
  }
  #track .track-image {
    width: 130px !important;
    height: 130px !important;
  }
  #track .track-name {
    font-size: 14px !important;
  }
}

/*# sourceMappingURL=App.css.map */
