@import url("https://fonts.googleapis.com/css2?family=Barlow");
html {
  height: 100%;
}

html,
body {
  overflow: auto;
}

body {
  height: 100%;
  background-color: rgb(255, 255, 255);
  font-family: "Barlow", serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f1f1f1;
}

.pl-0 {
  padding-left: 0rem;
}

.pr-0 {
  padding-right: 0rem;
}

.ml-0 {
  margin-left: 0rem;
}

.mr-0 {
  margin-right: 0rem;
}

.br-0 {
  border-radius: 0px;
}

.pl-1 {
  padding-left: 0.5rem;
}

.pr-1 {
  padding-right: 0.5rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.br-1 {
  border-radius: 1px;
}

.pl-2 {
  padding-left: 1rem;
}

.pr-2 {
  padding-right: 1rem;
}

.ml-2 {
  margin-left: 1rem;
}

.mr-2 {
  margin-right: 1rem;
}

.br-2 {
  border-radius: 2px;
}

.pl-3 {
  padding-left: 1.5rem;
}

.pr-3 {
  padding-right: 1.5rem;
}

.ml-3 {
  margin-left: 1.5rem;
}

.mr-3 {
  margin-right: 1.5rem;
}

.br-3 {
  border-radius: 3px;
}

.pl-4 {
  padding-left: 2rem;
}

.pr-4 {
  padding-right: 2rem;
}

.ml-4 {
  margin-left: 2rem;
}

.mr-4 {
  margin-right: 2rem;
}

.br-4 {
  border-radius: 4px;
}

.pl-5 {
  padding-left: 2.5rem;
}

.pr-5 {
  padding-right: 2.5rem;
}

.ml-5 {
  margin-left: 2.5rem;
}

.mr-5 {
  margin-right: 2.5rem;
}

.br-5 {
  border-radius: 5px;
}

.pl-6 {
  padding-left: 3rem;
}

.pr-6 {
  padding-right: 3rem;
}

.ml-6 {
  margin-left: 3rem;
}

.mr-6 {
  margin-right: 3rem;
}

.br-6 {
  border-radius: 6px;
}

.pl-7 {
  padding-left: 3.5rem;
}

.pr-7 {
  padding-right: 3.5rem;
}

.ml-7 {
  margin-left: 3.5rem;
}

.mr-7 {
  margin-right: 3.5rem;
}

.br-7 {
  border-radius: 7px;
}

.pl-8 {
  padding-left: 4rem;
}

.pr-8 {
  padding-right: 4rem;
}

.ml-8 {
  margin-left: 4rem;
}

.mr-8 {
  margin-right: 4rem;
}

.br-8 {
  border-radius: 8px;
}

.pl-9 {
  padding-left: 4.5rem;
}

.pr-9 {
  padding-right: 4.5rem;
}

.ml-9 {
  margin-left: 4.5rem;
}

.mr-9 {
  margin-right: 4.5rem;
}

.br-9 {
  border-radius: 9px;
}

.pl-10 {
  padding-left: 5rem;
}

.pr-10 {
  padding-right: 5rem;
}

.ml-10 {
  margin-left: 5rem;
}

.mr-10 {
  margin-right: 5rem;
}

.br-10 {
  border-radius: 10px;
}

/** TOP LEVEL CLASSES **/
.font-bold {
  font-weight: bold;
}

.app-container {
  height: 100vh;
}

.black-border {
  border: 1px solid black;
}

/** CONTAINERS **/
/** LOGOS **/
.navbar-logo {
  background-image: url("../public/assets/logo.png");
  width: 60px;
  height: 60px;
  background-size: contain !important;
  background-attachment: inherit !important;
  background-position: center center;
  background-repeat: no-repeat !important;
}

/** LANDING PAGE **/
#landing-page .banner {
  height: 15rem;
  background-image: url("../public/assets/landing-page-banner.jpg") !important;
  background-size: cover !important;
  background-attachment: inherit !important;
  background-position: center center;
  border-radius: 0px 0px 5px 5px;
  border-top: unset !important;
}
#landing-page .banner .page-title {
  letter-spacing: 3.5px;
  font-size: 50px;
}
#landing-page .search-box {
  width: 400px;
}
#landing-page .container {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 5px;
  min-height: 200px;
  margin-bottom: 20px;
}

/** NAVBAR **/
.navbar {
  background-color: #001220 !important;
  border-bottom: 1px solid #000d16;
}

/** BUTTONS **/
.login-button {
  background-color: unset;
  border: 1px solid white;
}

.login-button:hover {
  background-color: #2851eb;
  border: 1px solid #6d69fa;
  color: white;
}

.blue-button {
  background-color: #2851eb;
  border: 1px solid white;
  color: white;
}

.blue-button:hover {
  background-color: unset;
  border: 1px solid white;
}

.white-button {
  background-color: white;
  border: 1px solid black;
  color: black;
}

/*# sourceMappingURL=App.css.map */
